<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab()">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="wifi-outline"></ion-icon>
      <ion-label>Perangkat</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="tab3">
      <ion-icon name="repeat-outline"></ion-icon>
      <ion-label>Transaksi</ion-label>
    </ion-tab-button> -->

    <!-- <ion-tab-button tab="tab4">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>

</ion-tabs>