<ion-content [fullscreen]="true">

  <ion-img src="../../assets/logo.png"></ion-img>

  <ion-text>
    <h1 class="ion-text-center ion-text-bold">Selamat datang di aplikasi SISPAR @Wifi.Id</h1>
    <p class="ion-text-center ion-padding">
      Sagittis leo purus ut dapibus sodales ligula nam aliquam sed erat vivamus volutpat cras mauris sollicitudin sapien
      blandit arcu nunc molestie rhoncus
    </p>
  </ion-text>

  <ion-button (click)="onAnalis()" expand="block" fill="solid" class="ion-padding-horizontal" color="warning">
    Mulai Analisa Kerusakan
    <ion-icon slot="end" name="sync-outline"></ion-icon>
  </ion-button>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>